.btn-container{
    background-color: rgb(147, 252, 252);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    border: none;
    border-radius: 7px;
    padding: 10px 44px;
    font-size: 1.4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fd6b52;
    color: white;
}

.btn:hover{
    background-color: #ff5733;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

