* {
    margin: 0px;
    padding: 0px;
}

/* navbar */
header {
    background-color: #8ed2c9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px 20px;
    flex-wrap: wrap;
}

.logo {
    color: #fd5f00;
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li a {
    margin: 0 18px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

nav a:hover {
    color: rgb(84, 82, 82);
    cursor: default;
}

header>a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(9, 108, 94);
    font-weight: 600;
}

/* main content */
main {
    background-color: rgb(250, 248, 248);
}

/* Home Intro */
.intro {
    height: 410px;
    background: url("./images/background.jpg") no-repeat center center;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
}

.intro h2 {
    color: gold;
    padding: 20px;
    font-size: 3.7rem;
}

.intro p {
    color: greenyellow;
    margin-top: 40px;
    padding: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    box-sizing: border-box;
}

/* about page */
.about-us h2 {
    color: blue;
    padding: 12px 0;
    font-size: 2.2rem;
    font-family: 'Roboto Mono', monospace;
}

.members,
.techs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.member,
.tech {
    height: 350px;
    width: 300px;
    margin: 10px;
    border: 2px solid green;
    border-radius: 23px;
}

main img {
    height: 200px;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 25px;
}

hr {
    border: 3px dotted gold;
    border-radius: 70%;
    margin: 0 90px;
}

/* contact us */
.contact-us {
    background-color: #c4c1e0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: url("./images/contacts.webp") no-repeat center center;
    background-size: cover;
}

.contact-us h2 {
    font-size: 2.2rem;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

form {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

textarea {
    padding: 3px;
    border-radius: 5px;
    font-size: 1rem;
}

.contacts {
    order: 2;
    display: flex;
    flex-direction: column;
    margin: 12px 7px;
}

.contacts input {
    width: 305px;
    padding: 7px;
    margin-bottom: 7px;
    font-size: 0.9rem;
    border-radius: 5px;
}

.btn {
    font-size: 1.2rem;
    padding: 7px;
    border-radius: 7px;
    background-color: #fd5f00;
    color: wheat;
    border: none;
}

.btn:hover {
    background-color: skyblue;
    color: white;
    border: none;
}

/* footer */
footer {
    height: 75px;
    background-color: #142d4c;
    text-align: center;
}

footer h3 {
    color: #fd5f00;
    font-size: 1.8rem;
    font-family: 'Ubuntu', sans-serif;
}

footer p {
    font-size: 1.2rem;
}

/* utils */
main {
    text-align: center;
}

main h3 {
    font-size: 1.7rem;
    color: #142d4c;
    font-family: 'Franklin Gothic Medium', sans-serif;
}

main p {
    font-size: 1.2rem;
    color: brown;
}